In [3]:
#import dependencies

import pandas as pd
# settings to display all columns
pd.set_option("display.max_columns", None)
import numpy as np
import matplotlib.pyplot as plt
from sklearn import datasets

data_file = "Sql Data/employee_satisfaction.csv"

emp_satisfaction = pd.read_csv(data_file)
emp_satisfaction

,employee_no,position,department,status,manager_name,performance,engagement_score,emp_satisfaction,race_desc,sex
0,904013591,Sr. Network Engineer,IT/IS,Active,Peter Monroe,N/A- too early to review,3.27,4,Asian,Male
1,1308060959,Sr. Network Engineer,IT/IS,Active,Peter Monroe,90-day meets,5.00,3,White,Male
2,1301052347,Sr. Network Engineer,IT/IS,Active,Peter Monroe,N/A- too early to review,1.06,4,Asian,Female
3,1411071312,Sr. Network Engineer,IT/IS,Active,Peter Monroe,Fully Meets,1.55,5,White,Female
4,1108028108,Sr. Network Engineer,IT/IS,Active,Peter Monroe,Fully Meets,4.46,5,White,Male
...,...,...,...,...,...,...,...,...,...,...
581,1103024456,Accountant I,Admin Offices,Active,Brandon R. LeBlanc,Fully Meets,2.04,2,White,Female
582,1106026572,Accountant I,Admin Offices,Active,Brandon R. LeBlanc,Fully Meets,5.00,4,White,Male
583,1106026572,Accountant I,Admin Offices,Active,Brandon R. LeBlanc,Fully Meets,5.00,4,Black or African American,Male
584,1302053333,Accountant I,Admin Offices,Active,Brandon R. LeBlanc,Fully Meets,3.90,5,White,Male
585,1103024456,Accountant I,Admin Offices,Active,Brandon R. LeBlanc,Fully Meets,2.04,2,Black or African American,Female

In [4]:
emp_satisfaction.drop_duplicates(subset=['employee_no'], keep='first', inplace=True)
emp_satisfaction

,employee_no,position,department,status,manager_name,performance,engagement_score,emp_satisfaction,race_desc,sex
0,904013591,Sr. Network Engineer,IT/IS,Active,Peter Monroe,N/A- too early to review,3.27,4,Asian,Male
1,1308060959,Sr. Network Engineer,IT/IS,Active,Peter Monroe,90-day meets,5.00,3,White,Male
2,1301052347,Sr. Network Engineer,IT/IS,Active,Peter Monroe,N/A- too early to review,1.06,4,Asian,Female
3,1411071312,Sr. Network Engineer,IT/IS,Active,Peter Monroe,Fully Meets,1.55,5,White,Female
4,1108028108,Sr. Network Engineer,IT/IS,Active,Peter Monroe,Fully Meets,4.46,5,White,Male
...,...,...,...,...,...,...,...,...,...,...
571,1211050782,Administrative Assistant,Admin Offices,Active,Brandon R. LeBlanc,N/A- too early to review,3.24,3,White,Female
572,711007713,Administrative Assistant,Admin Offices,Active,Brandon R. LeBlanc,Fully Meets,3.80,4,Asian,Female
577,1302053333,Accountant I,Admin Offices,Active,Brandon R. LeBlanc,Fully Meets,3.90,5,White,Male
578,1106026572,Accountant I,Admin Offices,Active,Brandon R. LeBlanc,Fully Meets,5.00,4,White,Male
579,1103024456,Accountant I,Admin Offices,Active,Brandon R. LeBlanc,Fully Meets,2.04,2,White,Female

In [6]:
emp_satisfaction.drop(['employee_no', 'status', 'performance'], axis=1)

,position,department,manager_name,engagement_score,emp_satisfaction,race_desc,sex
0,Sr. Network Engineer,IT/IS,Peter Monroe,3.27,4,Asian,Male
1,Sr. Network Engineer,IT/IS,Peter Monroe,5.00,3,White,Male
2,Sr. Network Engineer,IT/IS,Peter Monroe,1.06,4,Asian,Female
3,Sr. Network Engineer,IT/IS,Peter Monroe,1.55,5,White,Female
4,Sr. Network Engineer,IT/IS,Peter Monroe,4.46,5,White,Male
...,...,...,...,...,...,...,...
571,Administrative Assistant,Admin Offices,Brandon R. LeBlanc,3.24,3,White,Female
572,Administrative Assistant,Admin Offices,Brandon R. LeBlanc,3.80,4,Asian,Female
577,Accountant I,Admin Offices,Brandon R. LeBlanc,3.90,5,White,Male
578,Accountant I,Admin Offices,Brandon R. LeBlanc,5.00,4,White,Male
579,Accountant I,Admin Offices,Brandon R. LeBlanc,2.04,2,White,Female

In [7]:
emp_satisfaction.to_csv("Tableau csv/emp_satisfaction.csv", index=False, header=True)