In [1]:
#import dependencies

import pandas as pd
# settings to display all columns
pd.set_option("display.max_columns", None)
import numpy as np
import matplotlib.pyplot as plt
from sklearn import datasets

data_file = "Sql Data/salary_employee_wage.csv"

s_emp_wage = pd.read_csv(data_file)
s_emp_wage

,employee_no,position,department,pay_rate,status,flsa_status,post_education,school,race_desc,age,sex,salary_min,salary_mid,salary_max
0,808010278,Database Administrator,IT/IS,"$62,816.00",Active,Exempt,Bachelors,University of Massachusetts Boston,White,47,Male,"$50,569.00","$68,306.00","$93,312.00"
1,808010278,Database Administrator,IT/IS,"$62,816.00",Active,Exempt,Bachelors,University of Massachusetts Boston,White,47,Male,"$50,569.00","$68,306.00","$93,312.00"
2,808010278,Database Administrator,IT/IS,"$62,816.00",Active,Exempt,Bachelors,University of Massachusetts Boston,White,47,Male,"$50,569.00","$68,306.00","$93,312.00"
3,904013591,Sr. Network Engineer,IT/IS,"$111,904.00",Active,Exempt,Bachelors,University of Massachusetts Boston,Asian,34,Male,"$79,428.00","$99,458.00","$120,451.00"
4,904013591,Sr. Network Engineer,IT/IS,"$111,904.00",Active,Exempt,Bachelors,University of Massachusetts Boston,Asian,34,Male,"$79,428.00","$99,458.00","$120,451.00"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,1501072311,Production Manager,Production,"$113,360.00",Active,Exempt,Bachelors,Univerity of Texas,White,49,Male,"$64,350.00","$85,800.00","$114,000.00"
156,1501072311,Production Manager,Production,"$113,360.00",Active,Exempt,Bachelors,Univerity of Texas,White,49,Male,"$64,350.00","$85,800.00","$114,000.00"
157,1988299991,Network Engineer,IT/IS,"$81,120.00",Active,Exempt,Bachelors,University of Michigan,White,36,Female,"$50,845.00","$66,850.00","$88,279.00"
158,1988299991,Network Engineer,IT/IS,"$81,120.00",Active,Exempt,Bachelors,University of Michigan,White,36,Female,"$50,845.00","$66,850.00","$88,279.00"
159,1988299991,Network Engineer,IT/IS,"$81,120.00",Active,Exempt,Bachelors,University of Michigan,White,36,Female,"$50,845.00","$66,850.00","$88,279.00"

In [2]:
s_emp_wage.drop_duplicates(subset=['employee_no'], keep='first', inplace=True)
s_emp_wage

,employee_no,position,department,pay_rate,status,flsa_status,post_education,school,race_desc,age,sex,salary_min,salary_mid,salary_max
0,808010278,Database Administrator,IT/IS,"$62,816.00",Active,Exempt,Bachelors,University of Massachusetts Boston,White,47,Male,"$50,569.00","$68,306.00","$93,312.00"
3,904013591,Sr. Network Engineer,IT/IS,"$111,904.00",Active,Exempt,Bachelors,University of Massachusetts Boston,Asian,34,Male,"$79,428.00","$99,458.00","$120,451.00"
6,905013738,Database Administrator,IT/IS,"$100,880.00",Active,Exempt,Bachelors,University of Massachusetts Boston,White,46,Female,"$50,569.00","$68,306.00","$93,312.00"
7,906014183,Network Engineer,IT/IS,"$97,760.00",Active,Exempt,Bachelors,Massachusetts Institute of Technology,White,36,Female,"$50,845.00","$66,850.00","$88,279.00"
10,1000974650,Production Manager,Production,"$110,240.00",Active,Exempt,Masters,University of Masschusetts Lowell,White,42,Male,"$64,350.00","$85,800.00","$114,000.00"
13,1001644719,Software Engineering Manager,Software Engineering,"$56,160.00",Active,Exempt,No,No,White,51,Male,"$56,160.00","$70,200.00","$87,750.00"
16,1001944783,Production Manager,Production,"$100,880.00",Active,Exempt,Bachelors,Southern Connecticut State University,White,45,Male,"$64,350.00","$85,800.00","$114,000.00"
17,1001956578,Network Engineer,IT/IS,"$56,160.00",Active,Exempt,Masters,University of Massachusetts Boston,White,38,Female,"$50,845.00","$66,850.00","$88,279.00"
20,1003018246,Database Administrator,IT/IS,"$83,200.00",Active,Exempt,Bachelors,Florida State University,Asian,31,Female,"$50,569.00","$68,306.00","$93,312.00"
23,1006020066,Director of Operations,Production,"$124,800.00",Active,Exempt,Bachelors,University of Massachusetts Boston,Black or African American,34,Female,"$125,320.00","$156,650.00","$195,812.00"
26,1009021646,Director of Sales,Sales,"$124,800.00",Active,Exempt,Masters,Souther Connecticut State University,White,51,Female,"$124,800.00","$156,000.00","$195,000.00"
29,1010022337,Sr. DBA,IT/IS,"$127,504.00",Active,Exempt,Bachelors,Boston College,White,31,Female,"$92,863.00","$116,007.00","$139,170.00"
32,1012023013,Network Engineer,IT/IS,"$89,440.00",Active,Exempt,Masters,University of Georgia,White,30,Male,"$50,845.00","$66,850.00","$88,279.00"
35,1012023185,Software Engineer,Software Engineering,"$102,440.00",Active,Exempt,No,No,White,31,Female,"$59,751.00","$79,669.00","$106,225.00"
38,1101023540,Network Engineer,IT/IS,"$76,960.00",Active,Exempt,Masters,Marquette University,White,29,Female,"$50,845.00","$66,850.00","$88,279.00"
41,1101023577,Software Engineer,Software Engineering,"$116,480.00",Active,Exempt,No,No,White,30,Female,"$59,751.00","$79,669.00","$106,225.00"
44,1101023754,IT Manager - Support,IT/IS,"$133,120.00",Active,Exempt,Bachelors,University of Massachusetts Boston,White,47,Male,"$50,625.00","$67,500.00","$90,000.00"
47,1102024056,Database Administrator,IT/IS,"$89,440.00",Active,Exempt,Bachelors,University of Michigan,White,31,Female,"$50,569.00","$68,306.00","$93,312.00"
48,1102024057,Software Engineer,Software Engineering,"$94,473.60",Active,Exempt,No,No,White,34,Male,"$59,751.00","$79,669.00","$106,225.00"
49,1102024115,Shared Services Manager,Admin Offices,"$114,400.00",Active,Exempt,Associates,Masscusetts Bay Community College,White,33,Male,"$50,490.00","$62,158.00","$74,658.00"
52,1102024149,Production Manager,Production,"$108,160.00",Active,Exempt,Bachelors,University of Masschusetts Lowell,White,42,Female,"$64,350.00","$85,800.00","$114,000.00"
55,1102024173,Network Engineer,IT/IS,"$87,360.00",Active,Exempt,Bachelors,North Carolina State University,White,28,Male,"$50,845.00","$66,850.00","$88,279.00"
58,1103024456,Accountant I,Admin Offices,"$59,280.00",Active,Exempt,Bachelors,New York University,Black or African American,32,Female,"$42,274.00","$51,425.00","$62,299.00"
61,1103024679,Production Manager,Production,"$114,400.00",Active,Exempt,Bachelors,Boston College,White,36,Female,"$64,350.00","$85,800.00","$114,000.00"
64,1105025718,Database Administrator,IT/IS,"$70,720.00",Active,Exempt,Bachelors,Florida State University,White,33,Female,"$50,569.00","$68,306.00","$93,312.00"
67,1106026572,Accountant I,Admin Offices,"$47,840.00",Active,Exempt,Associates,New York University,White,33,Male,"$42,274.00","$51,425.00","$62,299.00"
70,1107027351,Production Manager,Production,"$110,240.00",Active,Exempt,Associates,Southern New Hampshire University,Hispanic,36,Male,"$64,350.00","$85,800.00","$114,000.00"
73,1107027358,Software Engineer,Software Engineering,"$99,008.00",Active,Exempt,No,No,White,38,Female,"$59,751.00","$79,669.00","$106,225.00"
76,1108027853,Database Administrator,IT/IS,"$88,920.00",Active,Exempt,Bachelors,Massachusetts Institute of Technology,Asian,33,Female,"$50,569.00","$68,306.00","$93,312.00"
79,1108028108,Sr. Network Engineer,IT/IS,"$116,896.00",Active,Exempt,Bachelors,Boston College,White,31,Male,"$79,428.00","$99,458.00","$120,451.00"
82,1110029732,Database Administrator,IT/IS,"$65,312.00",Active,Exempt,Bachelors,Boston College,White,38,Female,"$50,569.00","$68,306.00","$93,312.00"
85,1110029990,Production Manager,Production,"$114,400.00",Active,Exempt,Bachelors,Boston College,White,34,Male,"$64,350.00","$85,800.00","$114,000.00"
88,1112030979,Software Engineer,Software Engineering,"$108,680.00",Active,Exempt,No,No,Asian,38,Male,"$59,751.00","$79,669.00","$106,225.00"
89,1192991000,IT Director,IT/IS,"$135,200.00",Active,Exempt,Masters,University of Masschusetts Lowell,Black or African American,37,Male,"$76,050.00","$101,400.00","$135,200.00"
92,1201031308,Sr. Accountant,Admin Offices,"$72,696.00",Active,Exempt,Masters,Massachusetts Institute of Technology,White,38,Female,"$63,264.00","$76,988.00","$92,454.00"
95,1201031324,Software Engineer,Software Engineering,"$99,840.00",Active,Exempt,No,No,White,34,Male,"$59,751.00","$79,669.00","$106,225.00"
98,1203032255,Database Administrator,IT/IS,"$87,776.00",Active,Exempt,Bachelors,Ohio University,White,31,Male,"$50,569.00","$68,306.00","$93,312.00"
101,1203032498,Software Engineer,Software Engineering,"$118,809.60",Active,Exempt,No,No,Black or African American,38,Female,"$59,751.00","$79,669.00","$106,225.00"
104,1212052023,Network Engineer,IT/IS,"$93,600.00",Active,Exempt,Bachelors,Boston College,White,30,Male,"$50,845.00","$66,850.00","$88,279.00"
107,1301052347,Sr. Network Engineer,IT/IS,"$114,816.00",Active,Exempt,Bachelors,New York University,Asian,39,Female,"$79,428.00","$99,458.00","$120,451.00"
110,1302053333,Accountant I,Admin Offices,"$60,320.00",Active,Exempt,Bachelors,Cornell University,White,31,Male,"$42,274.00","$51,425.00","$62,299.00"
113,1303054580,Production Manager,Production,"$105,040.00",Active,Exempt,No,No,Asian,47,Male,"$64,350.00","$85,800.00","$114,000.00"
114,1303054625,Software Engineer,Software Engineering,"$115,460.80",Active,Exempt,No,No,Asian,30,Female,"$59,751.00","$79,669.00","$106,225.00"
117,1307060077,Production Manager,Production,"$112,320.00",Active,Exempt,Masters,University of Connecticut,White,36,Male,"$64,350.00","$85,800.00","$114,000.00"
120,1307060188,Sr. Accountant,Admin Offices,"$72,696.00",Active,Exempt,Masters,University of Connecticut,Asian,30,Female,"$63,264.00","$76,988.00","$92,454.00"
123,1308060959,Sr. Network Engineer,IT/IS,"$110,240.00",Active,Exempt,Associates,Lakeland Community College,White,52,Male,"$79,428.00","$99,458.00","$120,451.00"
126,1402065303,Sales Manager,Sales,"$112,320.00",Active,Exempt,Bachelors,Cornell University,White,27,Female,"$93,990.00","$125,320.00","$156,650.00"
129,1402065355,Production Manager,Production,"$80,080.00",Active,Exempt,Bachelors,University of Masschusetts Lowell,White,40,Female,"$64,350.00","$85,800.00","$114,000.00"
130,1403065874,Production Manager,Production,"$87,360.00",Active,Exempt,Bachelors,Western Connecticut State Univerity,Asian,41,Male,"$64,350.00","$85,800.00","$114,000.00"
131,1405067298,Production Manager,Production,"$114,400.00",Active,Exempt,Bachelors,University of Masschusetts Lowell,White,39,Female,"$64,350.00","$85,800.00","$114,000.00"
134,1406068403,Database Administrator,IT/IS,"$73,840.00",Active,Exempt,Bachelors,Texas State University,Black or African American,29,Male,"$50,569.00","$68,306.00","$93,312.00"
137,1407068885,Database Administrator,IT/IS,"$82,264.00",Active,Exempt,Bachelors,Colorado State University,White,36,Female,"$50,569.00","$68,306.00","$93,312.00"
140,1409070147,Production Manager,Production,"$106,080.00",Active,Exempt,Bachelors,Boston College,White,44,Female,"$64,350.00","$85,800.00","$114,000.00"
143,1410071026,Production Manager,Production,"$69,680.00",Active,Exempt,No,No,White,62,Female,"$64,350.00","$85,800.00","$114,000.00"
144,1410071156,Database Administrator,IT/IS,"$83,408.00",Active,Exempt,Bachelors,University of Delaware,Black or African American,31,Male,"$50,569.00","$68,306.00","$93,312.00"
145,1411071312,Sr. Network Engineer,IT/IS,"$112,528.00",Active,Exempt,Bachelors,Pennsylvania State University,White,66,Female,"$79,428.00","$99,458.00","$120,451.00"
148,1411071506,Network Engineer,IT/IS,"$102,128.00",Active,Exempt,Doctoral,Stanford University,White,48,Male,"$50,845.00","$66,850.00","$88,279.00"
151,1499902910,Sales Manager,Sales,"$116,480.00",Active,Exempt,No,No,White,33,Male,"$93,990.00","$125,320.00","$156,650.00"
154,1501072311,Production Manager,Production,"$113,360.00",Active,Exempt,Bachelors,Univerity of Texas,White,49,Male,"$64,350.00","$85,800.00","$114,000.00"
157,1988299991,Network Engineer,IT/IS,"$81,120.00",Active,Exempt,Bachelors,University of Michigan,White,36,Female,"$50,845.00","$66,850.00","$88,279.00"

In [4]:
s_emp_wage.drop(['employee_no', 'status', 'flsa_status', 'post_education', 'school',], axis=1)

,position,department,pay_rate,race_desc,age,sex,salary_min,salary_mid,salary_max
0,Database Administrator,IT/IS,"$62,816.00",White,47,Male,"$50,569.00","$68,306.00","$93,312.00"
3,Sr. Network Engineer,IT/IS,"$111,904.00",Asian,34,Male,"$79,428.00","$99,458.00","$120,451.00"
6,Database Administrator,IT/IS,"$100,880.00",White,46,Female,"$50,569.00","$68,306.00","$93,312.00"
7,Network Engineer,IT/IS,"$97,760.00",White,36,Female,"$50,845.00","$66,850.00","$88,279.00"
10,Production Manager,Production,"$110,240.00",White,42,Male,"$64,350.00","$85,800.00","$114,000.00"
13,Software Engineering Manager,Software Engineering,"$56,160.00",White,51,Male,"$56,160.00","$70,200.00","$87,750.00"
16,Production Manager,Production,"$100,880.00",White,45,Male,"$64,350.00","$85,800.00","$114,000.00"
17,Network Engineer,IT/IS,"$56,160.00",White,38,Female,"$50,845.00","$66,850.00","$88,279.00"
20,Database Administrator,IT/IS,"$83,200.00",Asian,31,Female,"$50,569.00","$68,306.00","$93,312.00"
23,Director of Operations,Production,"$124,800.00",Black or African American,34,Female,"$125,320.00","$156,650.00","$195,812.00"
26,Director of Sales,Sales,"$124,800.00",White,51,Female,"$124,800.00","$156,000.00","$195,000.00"
29,Sr. DBA,IT/IS,"$127,504.00",White,31,Female,"$92,863.00","$116,007.00","$139,170.00"
32,Network Engineer,IT/IS,"$89,440.00",White,30,Male,"$50,845.00","$66,850.00","$88,279.00"
35,Software Engineer,Software Engineering,"$102,440.00",White,31,Female,"$59,751.00","$79,669.00","$106,225.00"
38,Network Engineer,IT/IS,"$76,960.00",White,29,Female,"$50,845.00","$66,850.00","$88,279.00"
41,Software Engineer,Software Engineering,"$116,480.00",White,30,Female,"$59,751.00","$79,669.00","$106,225.00"
44,IT Manager - Support,IT/IS,"$133,120.00",White,47,Male,"$50,625.00","$67,500.00","$90,000.00"
47,Database Administrator,IT/IS,"$89,440.00",White,31,Female,"$50,569.00","$68,306.00","$93,312.00"
48,Software Engineer,Software Engineering,"$94,473.60",White,34,Male,"$59,751.00","$79,669.00","$106,225.00"
49,Shared Services Manager,Admin Offices,"$114,400.00",White,33,Male,"$50,490.00","$62,158.00","$74,658.00"
52,Production Manager,Production,"$108,160.00",White,42,Female,"$64,350.00","$85,800.00","$114,000.00"
55,Network Engineer,IT/IS,"$87,360.00",White,28,Male,"$50,845.00","$66,850.00","$88,279.00"
58,Accountant I,Admin Offices,"$59,280.00",Black or African American,32,Female,"$42,274.00","$51,425.00","$62,299.00"
61,Production Manager,Production,"$114,400.00",White,36,Female,"$64,350.00","$85,800.00","$114,000.00"
64,Database Administrator,IT/IS,"$70,720.00",White,33,Female,"$50,569.00","$68,306.00","$93,312.00"
67,Accountant I,Admin Offices,"$47,840.00",White,33,Male,"$42,274.00","$51,425.00","$62,299.00"
70,Production Manager,Production,"$110,240.00",Hispanic,36,Male,"$64,350.00","$85,800.00","$114,000.00"
73,Software Engineer,Software Engineering,"$99,008.00",White,38,Female,"$59,751.00","$79,669.00","$106,225.00"
76,Database Administrator,IT/IS,"$88,920.00",Asian,33,Female,"$50,569.00","$68,306.00","$93,312.00"
79,Sr. Network Engineer,IT/IS,"$116,896.00",White,31,Male,"$79,428.00","$99,458.00","$120,451.00"
82,Database Administrator,IT/IS,"$65,312.00",White,38,Female,"$50,569.00","$68,306.00","$93,312.00"
85,Production Manager,Production,"$114,400.00",White,34,Male,"$64,350.00","$85,800.00","$114,000.00"
88,Software Engineer,Software Engineering,"$108,680.00",Asian,38,Male,"$59,751.00","$79,669.00","$106,225.00"
89,IT Director,IT/IS,"$135,200.00",Black or African American,37,Male,"$76,050.00","$101,400.00","$135,200.00"
92,Sr. Accountant,Admin Offices,"$72,696.00",White,38,Female,"$63,264.00","$76,988.00","$92,454.00"
95,Software Engineer,Software Engineering,"$99,840.00",White,34,Male,"$59,751.00","$79,669.00","$106,225.00"
98,Database Administrator,IT/IS,"$87,776.00",White,31,Male,"$50,569.00","$68,306.00","$93,312.00"
101,Software Engineer,Software Engineering,"$118,809.60",Black or African American,38,Female,"$59,751.00","$79,669.00","$106,225.00"
104,Network Engineer,IT/IS,"$93,600.00",White,30,Male,"$50,845.00","$66,850.00","$88,279.00"
107,Sr. Network Engineer,IT/IS,"$114,816.00",Asian,39,Female,"$79,428.00","$99,458.00","$120,451.00"
110,Accountant I,Admin Offices,"$60,320.00",White,31,Male,"$42,274.00","$51,425.00","$62,299.00"
113,Production Manager,Production,"$105,040.00",Asian,47,Male,"$64,350.00","$85,800.00","$114,000.00"
114,Software Engineer,Software Engineering,"$115,460.80",Asian,30,Female,"$59,751.00","$79,669.00","$106,225.00"
117,Production Manager,Production,"$112,320.00",White,36,Male,"$64,350.00","$85,800.00","$114,000.00"
120,Sr. Accountant,Admin Offices,"$72,696.00",Asian,30,Female,"$63,264.00","$76,988.00","$92,454.00"
123,Sr. Network Engineer,IT/IS,"$110,240.00",White,52,Male,"$79,428.00","$99,458.00","$120,451.00"
126,Sales Manager,Sales,"$112,320.00",White,27,Female,"$93,990.00","$125,320.00","$156,650.00"
129,Production Manager,Production,"$80,080.00",White,40,Female,"$64,350.00","$85,800.00","$114,000.00"
130,Production Manager,Production,"$87,360.00",Asian,41,Male,"$64,350.00","$85,800.00","$114,000.00"
131,Production Manager,Production,"$114,400.00",White,39,Female,"$64,350.00","$85,800.00","$114,000.00"
134,Database Administrator,IT/IS,"$73,840.00",Black or African American,29,Male,"$50,569.00","$68,306.00","$93,312.00"
137,Database Administrator,IT/IS,"$82,264.00",White,36,Female,"$50,569.00","$68,306.00","$93,312.00"
140,Production Manager,Production,"$106,080.00",White,44,Female,"$64,350.00","$85,800.00","$114,000.00"
143,Production Manager,Production,"$69,680.00",White,62,Female,"$64,350.00","$85,800.00","$114,000.00"
144,Database Administrator,IT/IS,"$83,408.00",Black or African American,31,Male,"$50,569.00","$68,306.00","$93,312.00"
145,Sr. Network Engineer,IT/IS,"$112,528.00",White,66,Female,"$79,428.00","$99,458.00","$120,451.00"
148,Network Engineer,IT/IS,"$102,128.00",White,48,Male,"$50,845.00","$66,850.00","$88,279.00"
151,Sales Manager,Sales,"$116,480.00",White,33,Male,"$93,990.00","$125,320.00","$156,650.00"
154,Production Manager,Production,"$113,360.00",White,49,Male,"$64,350.00","$85,800.00","$114,000.00"
157,Network Engineer,IT/IS,"$81,120.00",White,36,Female,"$50,845.00","$66,850.00","$88,279.00"

In [5]:
s_emp_wage.to_csv("Tableau csv/s_emp_wage.csv", index=False, header=True)