In [3]:
#import dependencies

import pandas as pd
# settings to display all columns
pd.set_option("display.max_columns", None)
import numpy as np
import matplotlib.pyplot as plt
from sklearn import datasets

data_file = "Data Sets/core_dataset.csv"
data_file_two = "Data Sets/HRDataset_v9.csv"
data_file_three = "Data Sets/HRDataset_v13.csv"

employees = pd.read_csv(data_file)
employees_two = pd.read_csv(data_file_two)
employees_three = pd.read_csv(data_file_three)

employees

,Employee Name,Employee Number,State,Zip,DOB,Age,Sex,MaritalDesc,CitizenDesc,Hispanic/Latino,RaceDesc,Date of Hire,Date of Termination,Reason For Term,Employment Status,Department,Position,Pay Rate,Manager Name,Employee Source,Performance Score,Education-Post,School
0,"Alagbe,Trina",1011022883,MA,1886,9/27/88,29,Female,Married,US Citizen,No,White,1/7/08,NaN,N/A - still employed,Active,Production,Production Technician I,21.00,Elijiah Gray,Billboard,Fully Meets,Associates,Masscusetts Bay Community College
1,"Bachiochi, Linda",1212051409,MA,1902,2/11/70,47,Female,Single,US Citizen,No,Two or more races,7/6/09,NaN,N/A - still employed,Leave of Absence,Production,Production Technician I,22.00,Brannon Miller,Diversity Job Fair,Fully Meets,Associates,Bunker Hill Community College
2,"Barbara, Thomas",1312063507,MA,2062,2/21/74,43,Male,Married,US Citizen,Yes,Asian,4/2/12,9/19/12,unhappy,Voluntarily Terminated,Production,Production Technician I,22.00,Kissy Sullivan,Diversity Job Fair,90-day meets,Associates,Bunker Hill Community College
3,"Becker, Scott",1110029777,MA,2452,4/6/79,38,Male,Single,US Citizen,No,Asian,7/8/13,NaN,N/A - still employed,Leave of Absence,Production,Production Technician I,17.00,Webster Butler,MBTA ads,Fully Meets,Associates,Middlesex Community College
4,"Clayton, Rick",1301052902,MA,2170,9/5/85,32,Male,Single,US Citizen,No,White,9/5/12,NaN,N/A - still employed,Active,IT/IS,IT Support,28.99,Eric Dougall,Glassdoor,Fully Meets,Associates,University of Connecticut
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
296,"Williams, Jacquelyn",1308060671,MA,2109,10/2/69,48,Female,Single,US Citizen,Yes,Two or more races,1/9/12,6/27/15,relocation out of area,Voluntarily Terminated,Production,Production Technician I,16.00,Ketsia Liebig,Diversity Job Fair,Fully Meets,NaN,NaN
297,"Winthrop, Jordan",1405067188,MA,2045,11/7/58,59,male,Single,US Citizen,No,White,1/7/13,2/21/16,retiring,Voluntarily Terminated,Production,Production Technician II,29.00,Brannon Miller,Professional Society,Exceeds,NaN,NaN
298,"Woodson, Jason",1012023010,MA,1810,5/11/85,32,Male,Single,US Citizen,No,White,7/7/14,NaN,N/A - still employed,Active,Production,Production Technician II,24.25,Kissy Sullivan,Vendor Referral,Fully Meets,NaN,NaN
299,"Ybarra, Catherine",1001268402,MA,2458,5/4/82,35,Female,Single,US Citizen,No,Asian,9/2/08,9/29/15,Another position,Voluntarily Terminated,Production,Production Technician I,22.00,Brannon Miller,Search Engine - Google Bing Yahoo,PIP,NaN,NaN
300,"Zima, Colleen",1211051232,MA,1730,8/17/78,39,Female,widowed,US Citizen,No,Asian,9/29/14,NaN,N/A - still employed,Active,Production,Production Technician I,15.00,David Stanley,On-campus Recruiting,Fully Meets,NaN,NaN

In [4]:
employees_two

,Employee Name,Employee Number,MarriedID,MaritalStatusID,GenderID,EmpStatus_ID,DeptID,Perf_ScoreID,Age,Pay Rate,State,Zip,DOB,Sex,MaritalDesc,CitizenDesc,Hispanic/Latino,RaceDesc,Date of Hire,Days Employed,Date of Termination,Reason For Term,Employment Status,Department,Position,Manager Name,Employee Source,Performance Score
0,"Adinolfi, Wilson K",1409070522,0,0,1,1,5,4,34,20.00,MA,1960,7/10/83,Male,Single,US Citizen,No,White,7/5/11,2336,NaN,N/A - still employed,Active,Production,Production Technician I,Michael Albert,MBTA ads,Exceeds
1,"Ait Sidi, Karthikeyan",1307060199,1,1,1,5,3,3,43,62.00,MA,2148,5/5/75,Male,Married,US Citizen,No,White,3/30/15,444,6/16/16,career change,Voluntarily Terminated,IT/IS,Sr. DBA,Simon Roup,Company Intranet - Partner,Fully Meets
2,"Akinkuolie, Sarah",1005019209,1,1,0,5,5,0,29,29.00,MA,1810,9/19/88,Female,Married,US Citizen,No,White,7/5/11,447,9/24/12,hours,Voluntarily Terminated,Production,Production Technician II,Kissy Sullivan,Newspager/Magazine,90-day meets
3,"Alagbe,Trina",1011022883,1,1,0,1,5,3,29,21.00,MA,1886,9/27/88,Female,Married,US Citizen,No,White,1/7/08,3611,NaN,N/A - still employed,Active,Production,Production Technician I,Elijiah Gray,Billboard,Fully Meets
4,"Albert, Michael",1501072311,0,2,1,1,5,3,49,54.50,MA,2169,10/10/68,Male,Divorced,US Citizen,No,White,8/1/11,2309,NaN,N/A - still employed,Active,Production,Production Manager,Janet King,Employee Referral,Fully Meets
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
305,"Woodson, Jason",1012023010,0,0,1,1,5,3,33,24.25,MA,1810,5/11/85,Male,Single,US Citizen,No,White,7/7/14,1238,NaN,N/A - still employed,Active,Production,Production Technician II,Kissy Sullivan,Vendor Referral,Fully Meets
306,"Ybarra, Catherine",1001268402,0,0,0,5,5,1,36,22.00,MA,2458,5/4/82,Female,Single,US Citizen,No,Asian,9/2/08,2583,9/29/15,Another position,Voluntarily Terminated,Production,Production Technician I,Brannon Miller,Search Engine - Google Bing Yahoo,PIP
307,"Zamora, Jennifer",1112030816,0,0,0,1,3,5,38,65.00,MA,2067,8/30/79,Female,Single,US Citizen,No,White,4/10/10,2787,NaN,N/A - still employed,Active,IT/IS,CIO,Janet King,Employee Referral,Exceptional
308,"Zhou, Julia",1110029732,0,0,0,1,3,0,39,31.40,MA,2148,2/24/79,Female,Single,US Citizen,No,White,3/30/15,972,NaN,N/A - still employed,Active,IT/IS,Database Administrator,Simon Roup,Employee Referral,90-day meets
309,"Zima, Colleen",1211051232,0,4,0,1,5,3,39,15.00,MA,1730,8/17/78,Female,Widowed,US Citizen,No,Asian,9/29/14,1154,NaN,N/A - still employed,Active,Production,Production Technician I,David Stanley,On-campus Recruiting,Fully Meets

In [5]:
employees_three
employees_three_new = employees_three.rename(columns={"EmpID" : "Employee Number"})
employees_three_new

,Employee_Name,Employee Number,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,PayRate,Termd,PositionID,Position,State,Zip,DOB,Sex,MaritalDesc,CitizenDesc,HispanicLatino,RaceDesc,DateofHire,DateofTermination,TermReason,EmploymentStatus,Department,ManagerName,ManagerID,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30
0,"Adinolfi, Wilson K",1409070522,0,0,1,1,5,4,0,20.00,0,19,Production Technician I,MA,1960,7/10/83,M,Single,US Citizen,No,White,7/5/11,NaN,N/A - still employed,Active,Production,Michael Albert,22.0,MBTA ads,Exceeds,2.51,5,0,1/17/19,0.0
1,"Ait Sidi, Karthikeyan",1307060199,1,1,1,5,3,3,0,62.00,1,27,Sr. DBA,MA,2148,5/5/75,M,Married,US Citizen,No,White,3/30/15,6/16/16,career change,Voluntarily Terminated,IT/IS,Simon Roup,4.0,Company Intranet - Partner,Fully Meets,4.96,3,6,NaN,NaN
2,"Akinkuolie, Sarah",1005019209,1,1,0,5,5,3,0,29.00,1,20,Production Technician II,MA,1810,9/19/88,F,Married,US Citizen,No,White,7/5/11,9/24/12,hours,Voluntarily Terminated,Production,Kissy Sullivan,20.0,Newspager/Magazine,Fully Meets,3.02,3,0,NaN,NaN
3,"Alagbe,Trina",1011022883,1,1,0,1,5,3,0,21.00,0,19,Production Technician I,MA,1886,9/27/88,F,Married,US Citizen,No,White,1/7/08,NaN,N/A - still employed,Active,Production,Elijiah Gray,16.0,Billboard,Fully Meets,4.84,5,0,1/3/19,0.0
4,"Albert, Michael",1501072311,0,2,1,1,5,3,0,54.50,0,17,Production Manager,MA,2169,10/10/68,M,Divorced,US Citizen,No,White,8/1/11,NaN,N/A - still employed,Active,Production,Janet King,2.0,Employee Referral,Fully Meets,3.93,3,0,2/27/19,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
305,"Woodson, Jason",1012023010,0,0,1,1,5,3,0,24.25,0,20,Production Technician II,MA,1810,5/11/85,M,Single,US Citizen,No,White,7/7/14,NaN,N/A - still employed,Active,Production,Kissy Sullivan,20.0,Vendor Referral,Fully Meets,4.07,4,0,2/28/19,0.0
306,"Ybarra, Catherine",1001268402,0,0,0,5,5,1,0,22.00,1,19,Production Technician I,MA,2458,5/4/82,F,Single,US Citizen,No,Asian,9/2/08,9/29/15,Another position,Voluntarily Terminated,Production,Brannon Miller,12.0,Search Engine - Google Bing Yahoo,PIP,4.29,2,0,NaN,NaN
307,"Zamora, Jennifer",1112030816,0,0,0,1,3,4,0,65.00,0,6,CIO,MA,2067,8/30/79,F,Single,US Citizen,No,White,4/10/10,NaN,N/A - still employed,Active,IT/IS,Janet King,2.0,Employee Referral,Exceeds,1.12,5,6,2/21/19,0.0
308,"Zhou, Julia",1110029732,0,0,0,1,3,3,0,31.40,0,9,Data Analyst,MA,2148,2/24/79,F,Single,US Citizen,No,White,3/30/15,NaN,N/A - still employed,Active,IT/IS,Simon Roup,4.0,Employee Referral,Fully Meets,5.00,3,5,2/1/19,0.0
309,"Zima, Colleen",1211051232,0,4,0,1,5,3,0,15.00,0,19,Production Technician I,MA,1730,8/17/78,F,Widowed,US Citizen,No,Asian,9/29/14,NaN,N/A - still employed,Active,Production,David Stanley,14.0,On-campus Recruiting,Fully Meets,1.24,5,0,1/30/19,0.0

In [6]:
employees_df = pd.DataFrame(employees)
employees_df

employees_two_df=pd.DataFrame(employees_two)
employees_two_df

employees_three_new_df=pd.DataFrame(employees_three_new)
employees_three_new_df

,Employee_Name,Employee Number,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,PayRate,Termd,PositionID,Position,State,Zip,DOB,Sex,MaritalDesc,CitizenDesc,HispanicLatino,RaceDesc,DateofHire,DateofTermination,TermReason,EmploymentStatus,Department,ManagerName,ManagerID,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30
0,"Adinolfi, Wilson K",1409070522,0,0,1,1,5,4,0,20.00,0,19,Production Technician I,MA,1960,7/10/83,M,Single,US Citizen,No,White,7/5/11,NaN,N/A - still employed,Active,Production,Michael Albert,22.0,MBTA ads,Exceeds,2.51,5,0,1/17/19,0.0
1,"Ait Sidi, Karthikeyan",1307060199,1,1,1,5,3,3,0,62.00,1,27,Sr. DBA,MA,2148,5/5/75,M,Married,US Citizen,No,White,3/30/15,6/16/16,career change,Voluntarily Terminated,IT/IS,Simon Roup,4.0,Company Intranet - Partner,Fully Meets,4.96,3,6,NaN,NaN
2,"Akinkuolie, Sarah",1005019209,1,1,0,5,5,3,0,29.00,1,20,Production Technician II,MA,1810,9/19/88,F,Married,US Citizen,No,White,7/5/11,9/24/12,hours,Voluntarily Terminated,Production,Kissy Sullivan,20.0,Newspager/Magazine,Fully Meets,3.02,3,0,NaN,NaN
3,"Alagbe,Trina",1011022883,1,1,0,1,5,3,0,21.00,0,19,Production Technician I,MA,1886,9/27/88,F,Married,US Citizen,No,White,1/7/08,NaN,N/A - still employed,Active,Production,Elijiah Gray,16.0,Billboard,Fully Meets,4.84,5,0,1/3/19,0.0
4,"Albert, Michael",1501072311,0,2,1,1,5,3,0,54.50,0,17,Production Manager,MA,2169,10/10/68,M,Divorced,US Citizen,No,White,8/1/11,NaN,N/A - still employed,Active,Production,Janet King,2.0,Employee Referral,Fully Meets,3.93,3,0,2/27/19,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
305,"Woodson, Jason",1012023010,0,0,1,1,5,3,0,24.25,0,20,Production Technician II,MA,1810,5/11/85,M,Single,US Citizen,No,White,7/7/14,NaN,N/A - still employed,Active,Production,Kissy Sullivan,20.0,Vendor Referral,Fully Meets,4.07,4,0,2/28/19,0.0
306,"Ybarra, Catherine",1001268402,0,0,0,5,5,1,0,22.00,1,19,Production Technician I,MA,2458,5/4/82,F,Single,US Citizen,No,Asian,9/2/08,9/29/15,Another position,Voluntarily Terminated,Production,Brannon Miller,12.0,Search Engine - Google Bing Yahoo,PIP,4.29,2,0,NaN,NaN
307,"Zamora, Jennifer",1112030816,0,0,0,1,3,4,0,65.00,0,6,CIO,MA,2067,8/30/79,F,Single,US Citizen,No,White,4/10/10,NaN,N/A - still employed,Active,IT/IS,Janet King,2.0,Employee Referral,Exceeds,1.12,5,6,2/21/19,0.0
308,"Zhou, Julia",1110029732,0,0,0,1,3,3,0,31.40,0,9,Data Analyst,MA,2148,2/24/79,F,Single,US Citizen,No,White,3/30/15,NaN,N/A - still employed,Active,IT/IS,Simon Roup,4.0,Employee Referral,Fully Meets,5.00,3,5,2/1/19,0.0
309,"Zima, Colleen",1211051232,0,4,0,1,5,3,0,15.00,0,19,Production Technician I,MA,1730,8/17/78,F,Widowed,US Citizen,No,Asian,9/29/14,NaN,N/A - still employed,Active,Production,David Stanley,14.0,On-campus Recruiting,Fully Meets,1.24,5,0,1/30/19,0.0

In [7]:
firstmerge_df =pd.merge(employees_df, employees_two_df, on="Employee Number", suffixes=('','_y'))
firstmerge_df.drop([col for col in firstmerge_df.columns if '_y'in col], axis=1, inplace=True)
firstmerge_df

,Employee Name,Employee Number,State,Zip,DOB,Age,Sex,MaritalDesc,CitizenDesc,Hispanic/Latino,RaceDesc,Date of Hire,Date of Termination,Reason For Term,Employment Status,Department,Position,Pay Rate,Manager Name,Employee Source,Performance Score,Education-Post,School,MarriedID,MaritalStatusID,GenderID,EmpStatus_ID,DeptID,Perf_ScoreID,Days Employed
0,"Alagbe,Trina",1011022883,MA,1886,9/27/88,29,Female,Married,US Citizen,No,White,1/7/08,NaN,N/A - still employed,Active,Production,Production Technician I,21.00,Elijiah Gray,Billboard,Fully Meets,Associates,Masscusetts Bay Community College,1,1,0,1,5,3,3611
1,"Bachiochi, Linda",1212051409,MA,1902,2/11/70,47,Female,Single,US Citizen,No,Two or more races,7/6/09,NaN,N/A - still employed,Leave of Absence,Production,Production Technician I,22.00,Brannon Miller,Diversity Job Fair,Fully Meets,Associates,Bunker Hill Community College,0,0,0,3,5,3,3065
2,"Barbara, Thomas",1312063507,MA,2062,2/21/74,43,Male,Married,US Citizen,Yes,Asian,4/2/12,9/19/12,unhappy,Voluntarily Terminated,Production,Production Technician I,22.00,Kissy Sullivan,Diversity Job Fair,90-day meets,Associates,Bunker Hill Community College,1,1,1,5,5,0,170
3,"Becker, Scott",1110029777,MA,2452,4/6/79,38,Male,Single,US Citizen,No,Asian,7/8/13,NaN,N/A - still employed,Leave of Absence,Production,Production Technician I,17.00,Webster Butler,MBTA ads,Fully Meets,Associates,Middlesex Community College,0,0,1,3,5,3,1602
4,"Clayton, Rick",1301052902,MA,2170,9/5/85,32,Male,Single,US Citizen,No,White,9/5/12,NaN,N/A - still employed,Active,IT/IS,IT Support,28.99,Eric Dougall,Glassdoor,Fully Meets,Associates,University of Connecticut,0,0,1,1,3,3,1908
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,"Williams, Jacquelyn",1308060671,MA,2109,10/2/69,48,Female,Single,US Citizen,Yes,Two or more races,1/9/12,6/27/15,relocation out of area,Voluntarily Terminated,Production,Production Technician I,16.00,Ketsia Liebig,Diversity Job Fair,Fully Meets,NaN,NaN,0,0,0,5,5,3,1265
299,"Winthrop, Jordan",1405067188,MA,2045,11/7/58,59,male,Single,US Citizen,No,White,1/7/13,2/21/16,retiring,Voluntarily Terminated,Production,Production Technician II,29.00,Brannon Miller,Professional Society,Exceeds,NaN,NaN,0,0,1,5,5,4,1140
300,"Woodson, Jason",1012023010,MA,1810,5/11/85,32,Male,Single,US Citizen,No,White,7/7/14,NaN,N/A - still employed,Active,Production,Production Technician II,24.25,Kissy Sullivan,Vendor Referral,Fully Meets,NaN,NaN,0,0,1,1,5,3,1238
301,"Ybarra, Catherine",1001268402,MA,2458,5/4/82,35,Female,Single,US Citizen,No,Asian,9/2/08,9/29/15,Another position,Voluntarily Terminated,Production,Production Technician I,22.00,Brannon Miller,Search Engine - Google Bing Yahoo,PIP,NaN,NaN,0,0,0,5,5,1,2583
302,"Zima, Colleen",1211051232,MA,1730,8/17/78,39,Female,widowed,US Citizen,No,Asian,9/29/14,NaN,N/A - still employed,Active,Production,Production Technician I,15.00,David Stanley,On-campus Recruiting,Fully Meets,NaN,NaN,0,4,0,1,5,3,1154

In [14]:
finalmerge_df =pd.merge(firstmerge_df, employees_three_new_df, on="Employee Number", suffixes=('','_y'))
finalmerge_df.drop([col for col in finalmerge_df.columns if '_y'in col], axis=1, inplace=True)
finalmerge_df.head()

,Employee Name,Employee Number,State,Zip,DOB,Age,Sex,MaritalDesc,CitizenDesc,Hispanic/Latino,RaceDesc,Date of Hire,Date of Termination,Reason For Term,Employment Status,Department,Position,Pay Rate,Manager Name,Employee Source,Performance Score,Education-Post,School,MarriedID,MaritalStatusID,GenderID,EmpStatus_ID,DeptID,Perf_ScoreID,Days Employed,Employee_Name,EmpStatusID,PerfScoreID,FromDiversityJobFairID,PayRate,Termd,PositionID,HispanicLatino,DateofHire,DateofTermination,TermReason,EmploymentStatus,ManagerName,ManagerID,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30
0,"Alagbe,Trina",1011022883,MA,1886,9/27/88,29,Female,Married,US Citizen,No,White,1/7/08,NaN,N/A - still employed,Active,Production,Production Technician I,21.00,Elijiah Gray,Billboard,Fully Meets,Associates,Masscusetts Bay Community College,1,1,0,1,5,3,3611,"Alagbe,Trina",1,3,0,21.00,0,19,No,1/7/08,NaN,N/A - still employed,Active,Elijiah Gray,16.0,Billboard,Fully Meets,4.84,5,0,1/3/19,0.0
1,"Bachiochi, Linda",1212051409,MA,1902,2/11/70,47,Female,Single,US Citizen,No,Two or more races,7/6/09,NaN,N/A - still employed,Leave of Absence,Production,Production Technician I,22.00,Brannon Miller,Diversity Job Fair,Fully Meets,Associates,Bunker Hill Community College,0,0,0,3,5,3,3065,"Bachiochi, Linda",3,3,1,22.00,0,19,No,7/6/09,NaN,N/A - still employed,Leave of Absence,Brannon Miller,12.0,Diversity Job Fair,Fully Meets,4.46,3,0,1/25/19,0.0
2,"Barbara, Thomas",1312063507,MA,2062,2/21/74,43,Male,Married,US Citizen,Yes,Asian,4/2/12,9/19/12,unhappy,Voluntarily Terminated,Production,Production Technician I,22.00,Kissy Sullivan,Diversity Job Fair,90-day meets,Associates,Bunker Hill Community College,1,1,1,5,5,0,170,"Barbara, Thomas",5,3,1,22.00,1,19,Yes,4/2/12,9/19/12,unhappy,Voluntarily Terminated,Kissy Sullivan,20.0,Diversity Job Fair,Fully Meets,1.98,3,0,NaN,NaN
3,"Becker, Scott",1110029777,MA,2452,4/6/79,38,Male,Single,US Citizen,No,Asian,7/8/13,NaN,N/A - still employed,Leave of Absence,Production,Production Technician I,17.00,Webster Butler,MBTA ads,Fully Meets,Associates,Middlesex Community College,0,0,1,3,5,3,1602,"Becker, Scott",3,3,0,17.00,0,19,No,7/8/13,NaN,N/A - still employed,Leave of Absence,Webster Butler,NaN,MBTA ads,Fully Meets,1.09,4,0,1/11/19,0.0
4,"Clayton, Rick",1301052902,MA,2170,9/5/85,32,Male,Single,US Citizen,No,White,9/5/12,NaN,N/A - still employed,Active,IT/IS,IT Support,28.99,Eric Dougall,Glassdoor,Fully Meets,Associates,University of Connecticut,0,0,1,1,3,3,1908,"Clayton, Rick",1,3,0,28.99,0,14,No,9/5/12,NaN,N/A - still employed,Active,Eric Dougall,6.0,Glassdoor,Fully Meets,2.55,3,6,2/27/19,0.0

In [23]:
finalmerge_df.drop(["EmploymentStatus", "PayRate", "DateofHire", "DateofTermination", "TermReason", "EmploymentStatus","ManagerName","RecruitmentSource","PerformanceScore", "SpecialProjectsCount", "LastPerformanceReview_Date"], inplace=True, axis=1)
finalmerge_df

,Employee Number,State,Zip,DOB,Age,Sex,MaritalDesc,CitizenDesc,Hispanic/Latino,RaceDesc,Date of Hire,Date of Termination,Reason For Term,Employment Status,Department,Position,Pay Rate,Manager Name,Employee Source,Performance Score,Education-Post,School,Days Employed,PositionID,HispanicLatino,EngagementSurvey,EmpSatisfaction,DaysLateLast30
0,1011022883,MA,1886,9/27/88,29,Female,Married,US Citizen,No,White,1/7/08,NaN,N/A - still employed,Active,Production,Production Technician I,21.00,Elijiah Gray,Billboard,Fully Meets,Associates,Masscusetts Bay Community College,3611,19,No,4.84,5,0.0
1,1212051409,MA,1902,2/11/70,47,Female,Single,US Citizen,No,Two or more races,7/6/09,NaN,N/A - still employed,Leave of Absence,Production,Production Technician I,22.00,Brannon Miller,Diversity Job Fair,Fully Meets,Associates,Bunker Hill Community College,3065,19,No,4.46,3,0.0
2,1312063507,MA,2062,2/21/74,43,Male,Married,US Citizen,Yes,Asian,4/2/12,9/19/12,unhappy,Voluntarily Terminated,Production,Production Technician I,22.00,Kissy Sullivan,Diversity Job Fair,90-day meets,Associates,Bunker Hill Community College,170,19,Yes,1.98,3,NaN
3,1110029777,MA,2452,4/6/79,38,Male,Single,US Citizen,No,Asian,7/8/13,NaN,N/A - still employed,Leave of Absence,Production,Production Technician I,17.00,Webster Butler,MBTA ads,Fully Meets,Associates,Middlesex Community College,1602,19,No,1.09,4,0.0
4,1301052902,MA,2170,9/5/85,32,Male,Single,US Citizen,No,White,9/5/12,NaN,N/A - still employed,Active,IT/IS,IT Support,28.99,Eric Dougall,Glassdoor,Fully Meets,Associates,University of Connecticut,1908,14,No,2.55,3,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,1308060671,MA,2109,10/2/69,48,Female,Single,US Citizen,Yes,Two or more races,1/9/12,6/27/15,relocation out of area,Voluntarily Terminated,Production,Production Technician I,16.00,Ketsia Liebig,Diversity Job Fair,Fully Meets,NaN,NaN,1265,19,Yes,1.44,4,NaN
299,1405067188,MA,2045,11/7/58,59,male,Single,US Citizen,No,White,1/7/13,2/21/16,retiring,Voluntarily Terminated,Production,Production Technician II,29.00,Brannon Miller,Professional Society,Exceeds,NaN,NaN,1140,20,No,1.67,3,NaN
300,1012023010,MA,1810,5/11/85,32,Male,Single,US Citizen,No,White,7/7/14,NaN,N/A - still employed,Active,Production,Production Technician II,24.25,Kissy Sullivan,Vendor Referral,Fully Meets,NaN,NaN,1238,20,No,4.07,4,0.0
301,1001268402,MA,2458,5/4/82,35,Female,Single,US Citizen,No,Asian,9/2/08,9/29/15,Another position,Voluntarily Terminated,Production,Production Technician I,22.00,Brannon Miller,Search Engine - Google Bing Yahoo,PIP,NaN,NaN,2583,19,No,4.29,2,NaN
302,1211051232,MA,1730,8/17/78,39,Female,widowed,US Citizen,No,Asian,9/29/14,NaN,N/A - still employed,Active,Production,Production Technician I,15.00,David Stanley,On-campus Recruiting,Fully Meets,NaN,NaN,1154,19,No,1.24,5,0.0

In [24]:
finalmerge_df.to_csv("Data Sets/Employee Final.csv", index=False, header=True)