In [2]:
#import dependencies

import pandas as pd
# settings to display all columns
pd.set_option("display.max_columns", None)
import numpy as np
import matplotlib.pyplot as plt
from sklearn import datasets

data_file = "Sql Data/hourly_employee_wage.csv"

h_emp_wage = pd.read_csv(data_file)
h_emp_wage

,employee_no,position,department,pay_rate,status,flsa_status,post_education,school,race_desc,age,sex,hourly_min,hourly_mid,hourly_max
0,1105025661,Production Technician II,Production,$24.00,Active,Non Exempt,No,No,White,28,Female,$18.27,$23.08,$27.88
1,1405067188,Production Technician II,Production,$29.00,Active,Non Exempt,No,No,White,59,male,$18.27,$23.08,$27.88
2,1108028428,Production Technician II,Production,$27.00,Active,Non Exempt,No,No,Black or African American,39,Female,$18.27,$23.08,$27.88
3,1408069503,Production Technician II,Production,$26.00,Active,Non Exempt,No,No,Hispanic,41,Male,$18.27,$23.08,$27.88
4,1001103149,Production Technician II,Production,$25.00,Active,Non Exempt,No,No,Black or African American,47,Female,$18.27,$23.08,$27.88
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
385,1211050782,Administrative Assistant,Admin Offices,$21.50,Active,Non Exempt,No,No,White,32,Female,$14.42,$19.23,$24.04
386,1307059817,Administrative Assistant,Admin Offices,$16.56,Active,Non Exempt,Bachelors,Brown University,White,29,Female,$14.42,$19.23,$24.04
387,1307059817,Administrative Assistant,Admin Offices,$16.56,Active,Non Exempt,Bachelors,Brown University,White,29,Female,$14.42,$19.23,$24.04
388,1211050782,Administrative Assistant,Admin Offices,$21.50,Active,Non Exempt,No,No,White,32,Female,$14.42,$19.23,$24.04
389,711007713,Administrative Assistant,Admin Offices,$20.50,Active,Non Exempt,Associates,California State University-Chico,Asian,30,Female,$14.42,$19.23,$24.04

In [3]:
h_emp_wage.drop_duplicates(subset=['employee_no'], keep='first', inplace=True)
h_emp_wage

,employee_no,position,department,pay_rate,status,flsa_status,post_education,school,race_desc,age,sex,hourly_min,hourly_mid,hourly_max
0,1105025661,Production Technician II,Production,$24.00,Active,Non Exempt,No,No,White,28,Female,$18.27,$23.08,$27.88
1,1405067188,Production Technician II,Production,$29.00,Active,Non Exempt,No,No,White,59,male,$18.27,$23.08,$27.88
2,1108028428,Production Technician II,Production,$27.00,Active,Non Exempt,No,No,Black or African American,39,Female,$18.27,$23.08,$27.88
3,1408069503,Production Technician II,Production,$26.00,Active,Non Exempt,No,No,Hispanic,41,Male,$18.27,$23.08,$27.88
4,1001103149,Production Technician II,Production,$25.00,Active,Non Exempt,No,No,Black or African American,47,Female,$18.27,$23.08,$27.88
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
373,1301052902,IT Support,IT/IS,$28.99,Active,Non Exempt,Associates,University of Connecticut,White,32,Male,$22.00,$25.00,$30.00
374,1203032263,IT Support,IT/IS,$27.49,Active,Non Exempt,Bachelors,Boston College,Black or African American,44,Female,$22.00,$25.00,$30.00
383,1211050782,Administrative Assistant,Admin Offices,$21.50,Active,Non Exempt,No,No,White,32,Female,$14.42,$19.23,$24.04
384,1307059817,Administrative Assistant,Admin Offices,$16.56,Active,Non Exempt,Bachelors,Brown University,White,29,Female,$14.42,$19.23,$24.04
389,711007713,Administrative Assistant,Admin Offices,$20.50,Active,Non Exempt,Associates,California State University-Chico,Asian,30,Female,$14.42,$19.23,$24.04

In [4]:
h_emp_wage.drop(['employee_no', 'status', 'flsa_status', 'post_education', 'school',], axis=1)

,position,department,pay_rate,race_desc,age,sex,hourly_min,hourly_mid,hourly_max
0,Production Technician II,Production,$24.00,White,28,Female,$18.27,$23.08,$27.88
1,Production Technician II,Production,$29.00,White,59,male,$18.27,$23.08,$27.88
2,Production Technician II,Production,$27.00,Black or African American,39,Female,$18.27,$23.08,$27.88
3,Production Technician II,Production,$26.00,Hispanic,41,Male,$18.27,$23.08,$27.88
4,Production Technician II,Production,$25.00,Black or African American,47,Female,$18.27,$23.08,$27.88
...,...,...,...,...,...,...,...,...,...
373,IT Support,IT/IS,$28.99,White,32,Male,$22.00,$25.00,$30.00
374,IT Support,IT/IS,$27.49,Black or African American,44,Female,$22.00,$25.00,$30.00
383,Administrative Assistant,Admin Offices,$21.50,White,32,Female,$14.42,$19.23,$24.04
384,Administrative Assistant,Admin Offices,$16.56,White,29,Female,$14.42,$19.23,$24.04
389,Administrative Assistant,Admin Offices,$20.50,Asian,30,Female,$14.42,$19.23,$24.04

In [5]:
h_emp_wage.to_csv("Tableau csv/h_emp_wage.csv", index=False, header=True)